<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Edit Category | Aduragbemi Store</title>
</head>
<body>
<section>
    <div class="container-fluid p-5 mt-5">
        <div class="row">
            <div class="col-md-3 offset-md-5">
                <div class="card card-sh">
                    <div class="card-header text-center fs-4">
                        <p class="fs-4">Edit Category</p>

                        <div th:if="${successMsg}">
                            <p class="text-success fw-bold" style="font-size:17px" th:text="${successMsg}"></p>
                        </div>

                        <div th:if="${errorMsg}">
                            <p class="text-danger fw-bold" style="font-size:17px" th:text="${errorMsg}"></p>
                        </div>
                    </div>

                    <div class="card-body">
                        <form action="/admin/updateCategory" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="id" th:value="${category.id}">
                            <div class="mb-3">
                                <label>Enter Category</label>
                                <input type="text" class="form-control" name="name" required th:value="${category.name}">
                            </div>

                            <div class="mb-3">
                                 <label>Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" id="radioDefault1" th:checked="${category.isActive==true}" value="true" required>
                                    <label class="form-check-label" for="radioDefault1">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="isActive" th:checked="${category.isActive==false}" id="radioDefault2" value="false" required>
                                    <label class="form-check-label" for="radioDefault2">
                                        IsActive
                                    </label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label>Upload Image</label>
                                <input type="file" class="form-control" name="file">
                            </div>
                            <img class="mb-3" th:src="@{'/img/category_img/'+${category.imageName}}" width="100px" height="100px">
                            <button type="submit" class="btn btn-primary col-md-12">Update Category</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

</body>
</html>