<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Johnson shop Rite |My Order</title>
</head>
<body>

<section>

    <div class="container-fluid mt-5 p-4">
        <div class="row">
            <p class="text-center fs-3">All Orders</p>
            <hr>
            <a href="/admin/" class="text-decoration-none">
                <i class="fa-solid fa-arrow-left"></i> Back
            </a>
            <div class="d-flex justify-content-center">

                <div th:if="${successMsg}" class="alert alert-success fw-bold font-size:17px text-center" style="width:30%; font-size:17px" role="alert">
                    <span th:text="${successMsg}"></span>
                </div>

                <div th:if="${errorMsg}" class="alert alert-danger fw-bold font-size:17px" style="width:30%; font-size:17px" role="alert">
                    <span th:text="${errorMsg}"></span>
                </div>

            </div>

            <div class="col-md-4 mx-auto mb-4">
                <form class="search-form">
                    <input
                            type="text"
                            class="form-control me-2"
                            placeholder="Search by Order ID or Product"
                            name="search"
                    />
                    <button class="btn btn-primary">Search</button>
                </form>
            </div>

            <div class="col-md-12">
                        <table class="table table-hover table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">Order Id</th>
                                <th scope="col">Delivery Details</th>
                                <th scope="col">Date</th>
                                <th scope="col">Product Details</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">Status</th>
                                <th scope="col">Action</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="o : ${orders}">
                                <th scope="row">[[${o.orderId}]]</th>
                                <td>
                                   Name: [[${o.orderAddress.firstName + ' ' + o.orderAddress.lastName}]]  <br>
                                    Email: [[${o.orderAddress.email}]] <br>
                                    MobileNo: [[${o.orderAddress.mobileNo}]] <br>
                                    Address: [[${o.orderAddress.address}]] <br>
                                    City: [[${o.orderAddress.city}]] <br>
                                    State: [[${o.orderAddress.state}]], [[${o.orderAddress.pincode}]] <br>
                                </td>
                                <td>[[${o.orderDate}]]</td>
                                <td>[[${o.product.title}]]</td>
                                <td>[[${o.quantity}]]</td>
                                <td> Quantity : [[${o.quantity}]] <br> Price : [[${o.price}]] <br> Total Price : [[${o.quantity * o.price}]] </td>
                                 <td>[[${o.status}]]</td>

                                <td>
                                    <form action="/admin/update-order-status" method="post">
                                        <div class="row">
                                            <div class="col">
                                                <select class="form-control"
                                                        name="st"
                                                        th:disabled="${o.status == 'Cancelled' or o.status == 'Delivered'}"
                                                        required>
                                                    <option value="" disabled selected>--Select--</option>
                                                    <option value="1">In Progress</option>
                                                    <option value="2">Order Received</option>
                                                    <option value="3">Product Packed</option>
                                                    <option value="4">Out for Delivery</option>
                                                    <option value="5">Delivered</option>
                                                    <option value="6">Cancelled</option>
                                                </select>
                                            </div>

                                            <input type="hidden" th:value="${o.id}" name="id">

                                            <div class="col">
                                                <th:block th:if="${o.status == 'Cancelled' or o.status == 'Delivered'}">
                                                    <button class="btn btn-primary btn-sm" disabled>Update</button>
                                                </th:block>

                                                <th:block th:unless="${o.status == 'Cancelled' or o.status == 'Delivered'}">
                                                    <button class="btn btn-primary btn-sm">Update</button>
                                                </th:block>
                                            </div>
                                        </div>
                                    </form>

                                </td>

                            </tr>

                            </tbody>

                            <tr th:if="${orders == null or orders.isEmpty()}">
                                <td colspan="7" class="text-center text-danger fw-bold py-3">
                                    You have not placed any orders yet.
                                </td>
                            </tr>
                        </table>
            </div>


        </div>
    </div>
</section>
</body>
</html>